*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	background: black url(img/fondo.jpg);
	background-size: cover;
	background-attachment: fixed;
	text-align:justify;
}

.contenedor{
	margin: 20px auto;
	width: 90%;
	max-width: 1000px;
	display: flex;
	flex-direction: row;
	/*esto es para los elementos que no caben se pongan deebajo*/
	flex-wrap: wrap;

}

header{
	width: 100%;
	padding: 5px 0px;
	/*aqui introducimos flexbox para haer el menu de navegacion*/
	display: flex;	
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header .menu a{
	color: #fff;
	text-decoration: none;
	margin-right: 40px;
	font-size: 18px;
}

header .menu a:hover{
	text-decoration: underline;
}

.main{
	background: #fff;
	padding: 20px;
	width: 70%;
}
.main article .thumb{
	width: 100%;
	padding-bottom: 20px;
}
.main article .thumb img{
	width: 100%;
	vertical-align: top;
	margin
}
.main article h2{
	font-weight: normal;
	font-size: 32px;
}

.main article p{
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 20px;
	text-align: justify;
}
aside{
	width: 30%;
	background: #537dca;
	padding: 20px;
	/*contenedor padre propiedades flexbox*/
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content: space-between;
}
aside .ad{
	font-size: 18px;
	text-align:justify;
	color: #fff;
	padding: 20px ;
	background: #4264a2;
}

footer{
	margin:20px 0px;
	background: rgba(255,255,255,.2);
	padding: 20px;
	width: 100%;
	color:#fff;
	/*flexbox*/
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;

}

footer .redes-sociales a{
	color:#fff;
	text-decoration: underline;
	margin-left: 20px;
}
footer .redes-sociales a:hover{
	text-decoration:none;
}

/*responsive*/
@media screen and (max-width: 800px) {
	.main{
		width: 100%;
	}	
	aside{
		width:100%;
		flex-direction: row;
	}
	aside .ad{
		width: 40%;
		margin: 10px;
	}
}
@media screen and (max-width: 650px) {
	header{
		flex-direction: column;
		padding-bottom: 20px;
	}
	header .logo{
		margin-bottom: 20px;
	}
	header .menu{
		width: 100%;
		background: rgb(255,255,255,.2);
		text-align: center;
		padding: 20px;
	}
	header .menu a { 
		margin: 0px 20px;
	}
	.main{
		width: 100%;
	}	
	aside{
		width:100%;
		flex-direction: column;
		padding: 20px;
	}
	aside .ad{
		width:100%;
	}
	footer{
		flex-direction: column;
		text-align:center;
	}
	footer .autor{
		order: 2;
		margin-top: 10px;
	}
	footer .redes-sociales{
		order: 1;

	}
}

@media screen and (max-width: 400px){
	aside{
		display: none;
	}
}
